<template>
  <div>
    <b-button variant="outline-primary" v-on:click="connectServer" style="width:100%">{{connectStuts}}</b-button>
    <div class="boxArea">
        <div
        v-for="(item, idx) in recvList"
        :key="idx"
        >
            <ChatMessage v-if="item.join===false"
                v-bind:message="item.content" 
                v-bind:who="checkUserName(item.userName)"
                v-bind:userName="item.userName"
            ></ChatMessage>
            <h6 v-else>
                {{item.userName}} 님이 입장하였습니다.
            </h6>

        </div>
    </div>


    <b-input-group>
    <template #prepend>
      <b-input-group-text >내용</b-input-group-text>
    </template>
    <b-form-input
        class="input"
        id="inputContent"
        v-model=message
        type="text"
        @keyup="sendMessage"></b-form-input>

  </b-input-group>

  </div>
</template>

<script>
import Stomp from 'webstomp-client'
import SockJS from 'sockjs-client'
import ChatMessage from './ChatMessage.vue'

export default {
    props:[
        "userName",
        "selected",
        "tags",
        "selectedTagByTags"
    ],
    components:{
        ChatMessage
    },
  data() {
    return {
        message: "",
        recvList: [],
        roomId:"",
        connected:false,
        connectStuts : "대화 시작",
        returnTags:[]
    }
  },
  created() {
    // App.vue가 생성되면 소켓 연결을 시도합니다.
    //this.connect()
  },
  mounted() {
      // beforunload : 1.새로고침 시 2. 창 닫을 시 3. 다른 주소로 이동 시
    window.addEventListener('beforeunload', this.unLoadEvent);
  },
  beforeUnmount() {
    window.removeEventListener('beforeunload', this.unLoadEvent);
  },
  beforeDestroy(){
                const msg = { 
                userName: this.userName,
                content: this.message,
                joinRoom:this.roomId,
                isJoin:false,
                isExit:false,
                msgDate:'2020'
                };
            this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
    this.disconnect();
  },
  watch:{
    selectedTagByTags(data){
      console.log("box 내의 tag변경 "+data);
    }
  },
  methods: {
    unLoadEvent: function (event) {
                  const msg = { 
                userName: this.userName,
                content: this.message,
                joinRoom:this.roomId,
                isJoin:false,
                isExit:false,
                msgDate:'2020'
                };
            this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
        this.disconnect();
    },
      connectServer(){
          this.returnTags=[];
          for(var i =0;i<this.tags.length;i++){
              console.log(this.tags[i]);
              this.returnTags.push(this.tags[i].text)
          }
          console.log(this.returnTags);
          if (this.connected == false){
            this.$axios.post("http://61.77.247.76:8080/searchRoomId",
                {
                    userName:this.userName,
                    whom:this.selected,
                    tags:this.returnTags,
                    roomId:''
                }
            ).then(res=>{
                this.roomId = res.data.roomId;
                console.log('받은 Room ID '+this.roomId);

            }).catch();
            this.connect();
            
          }else{
            const msg = { 
                userName: this.userName,
                content: this.message,
                joinRoom:this.roomId,
                isJoin:false,
                isExit:false,
                msgDate:'2020'
                };
            this.stompClient.send("/webChat/exitUser/"+this.roomId, JSON.stringify(msg), {});
            this.disconnect();

          }
      },
    checkUserName(sendsUser){
        if(this.userName == sendsUser){
            return true;
        }else{
            return false;
        }
    },
    sendMessage (e) {
      if(e.keyCode === 13 && this.userName !== '' && this.message !== ''){
        this.send()
        this.message = ''
      }
    },    
    send() {
      console.log("Send message:" + this.message);
      if (this.stompClient && this.stompClient.connected) {
        const msg = { 
          userName: this.userName,
          content: this.message,
          joinRoom:this.roomId,
          isJoin:false,
          isExit:false,
          msgDate:'2020'
        };
        this.stompClient.send("/webChat/receive/"+this.roomId, JSON.stringify(msg), {});
      }
    },    
    connect() {
      const serverURL = "http://61.77.247.76:8080/webChat"
      let socket = new SockJS(serverURL);
      this.stompClient = Stomp.over(socket);
      console.log(`소켓 연결을 시도합니다. 서버 주소: ${serverURL}`)
      this.stompClient.connect(
        {},
        frame => {
          // 소켓 연결 성공
          this.connected = true;
          this.connectStuts="대화 종료"
          console.log('소켓 연결 성공', frame);
          // 서버의 메시지 전송 endxpoint를 구독합니다.
          // 이런형태를 pub sub 구조라고 합니다.
          this.stompClient.subscribe("/webChat/send/"+this.roomId, res => {
            console.log('구독으로 받은 메시지 입니다.', res.body);

            // 받은 데이터를 json으로 파싱하고 리스트에 넣어줍니다.
            this.recvList.push(JSON.parse(res.body))
          });
          this.stompClient.subscribe("/webChat/enterRoomUserInfo/"+this.roomId,res =>{
              console.log('enter User Info 구독 메세지',res.body);
              this.recvList.push(JSON.parse(res.body))
              
          });
          this.stompClient.subscribe("/webChat/exitRoomUserInfo/"+this.roomId,res =>{
              console.log('exit User Info 구독 메세지',res.body);
              this.disconnect();
          });
          this.$emit('connectMarkdownEditor',this.roomId,this.stompClient);
          const msg={
          userName: this.userName,
          content: this.message,
          joinRoom:this.roomId,
          isJoin:false,
          isExit:false,
          msgDate:'2020'
          }
          this.stompClient.send("/webChat/joinUser/"+this.roomId, JSON.stringify(msg), {});
          document.getElementById("inputContent").focus();
        },
        error => {
          // 소켓 연결 실패
          console.log('소켓 연결 실패', error);
          this.disconnect()
          this.connected = false;
          this.connectStuts="대화 시작"
        }
      );        
    },
    disconnect(){
        if (this.connected == true){
            
            this.connected=false;
            this.returnTags=[];
            for(var i =0;i<this.tags.length;i++){
                console.log(this.tags[i]);
                this.returnTags.push(this.tags[i].text)
            }
            console.log('disconnect')
            this.$axios.post('http://61.77.247.76:8080/exit',
                {
                    userName:this.userName,
                    whom:this.selected,
                    tags:this.returnTags,
                    roomId:this.roomId
                }
            ).then().catch();
            this.recvList=[];
            this.stompClient.disconnect();
            this.connectStuts="대화 시작"
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.boxArea{
    height:65vh;
    overflow:auto;
    border:solid;
    border-width: thin;
}

</style>
