<template>
    <div 
    id="chatMessage"
    >
        <div class="box"  
        v-if="who">
            
            <b-form-textarea
            id="textarea"
            v-model=message
            placeholder="Enter something..."
            rows="1"
            max-rows="6"
            disabled
            >
            </b-form-textarea>
        </div>
        <div class="box"
        v-else>
            {{userName}}
            <b-form-textarea
            
            id="textarea2"
            v-model=message
            placeholder="Enter something..."
            rows="1"
            max-rows="6"
            disabled
            >
            </b-form-textarea>
        </div>
    </div>
</template>

<script>

export default {

    props:[
        "message",
        "who",
        "userName"
    ],
    mounted(){
        var chatBox = document.getElementsByClassName("boxArea");
        console.log(chatBox);
        chatBox[0].scrollTop=chatBox[0].scrollHeight;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#textarea{
    background-color:rgba(255,255,128,.5);
    border-radius: 10px;
    border-top-left-radius:0%;
    width:30vw;
    margin:2%;
    margin-left:35%;
    
}
#textarea2{
    background-color:rgba(255,255,255,0.5);
    border-radius: 10px;
    border-top-left-radius:0%;
    width:30vw;
    margin:2%;

}

.box{
    margin:1%;
}


</style>
