<template>
    <div>
        <b-form-textarea
            :class="{'sendMe':this.who,'sendOthers':!this.who}"
            v-model="text"
            rows="1"
            max-rows="10"
            style="overflow:auto"
            no-resize
            disabled
            ></b-form-textarea>
    </div>
</template>

<script>
export default{
    props:[
        'message',
        'who',
        'userName'
    ],
    data(){
        return{
            text:""
        }
    },
    created(){
        this.text = this.message;
    },
    mounted(){
        var chatBox = document.getElementsByClassName("boxArea");
        console.log(chatBox);
        chatBox[0].scrollTop=chatBox[0].scrollHeight;
    }
}
</script>

<style scoped>
.sendMe{
    min-height:auto;
    width:10px;
    border-radius:15px;
    background-color:rgba(255,255,128,.5);
    margin-left:auto;
}

.sendOthers{
    min-height:auto;
    width:10px;
    border-radius:15px;
    background-color:rgba(255,255,255,0.5)
}