<template>
    <div>
        <div>
            <notiBox v-bind:who="selected" v-on:clickTagByLink="insertTagToInput"></notiBox>
            <div style="display:flex;">
                <b-form-radio-group id="radioGroup" buttons name="radios-btn-default">
                    <b-form-radio class="radioBtn" v-model="selected"  name="answer" value="answer" @change="selectAnswerRadio" >대답</b-form-radio>
                    <b-form-radio class="radioBtn" v-model="selected"  name="question" value="question" @change="selectQuestionRadio">질문</b-form-radio>
                </b-form-radio-group>
                <Tag v-on:returnTags="changedTags" ></tag>
            </div>
        </div>
        <div id = "flex">
            <div class="chatArea">
                <chatBox 
                    v-on:connectMarkdownEditor="connectMarkdown"
                    v-bind:userName="userName"
                    v-bind:selected="selected"
                    v-bind:tags="tags"
                    v-bind:selectedTagByTags="selectedTag"
                ></chatBox>
            </div>
            <div class="codeBlockArea">
                <Editor
                	:initialValue="editorText"
                    :plugins="plugin"
                    height="30vh"
                    previewStyle="vertical"
                    ref="markdownEditText"
                ></Editor>
                <b-button variant="outline-primary" id="sendMarkDownBtn" @click = "onEditorChange">Send My Code</b-button>
                <div v-html = "code" class="htmlParse"/>
            </div>

        </div>

    </div>
</template>

<script>

import chatBox from './ChatBox.vue'
import notiBox from './NotiBox.vue'
import Tag from './TagInput.vue'
//mark down
import '@toast-ui/editor/dist/toastui-editor.css';
import { Editor } from '@toast-ui/vue-editor';


import 'prismjs/themes/prism.css';
import '@toast-ui/editor-plugin-code-syntax-highlight/dist/toastui-editor-plugin-code-syntax-highlight.css';

// Step 1. Import prismjs
import Prism from 'prismjs';

// Step 2. Import language files of prismjs that you need
import 'prismjs/components/prism-clojure.js';

import codeSyntaxHighlight from '@toast-ui/editor-plugin-code-syntax-highlight';

import Stomp from 'webstomp-client'
import SockJS from 'sockjs-client'

export default {
    data(){
        return{
            userNameText:"anou",
            selected:"answer",
            tags:[],
            clickTag:[],
            editorText: '',
            roomId:'',
            plugin:[[codeSyntaxHighlight, { highlighter: Prism }]],
            code:'',
            selectedTag:''
        }
    },
  components:{
      chatBox,
      notiBox,
      Tag,
      Editor
  },
  methods:{
      connectMarkdownSocket(id){
        const serverURL = "http://61.77.247.76:8080/webMark"
        let socket = new SockJS(serverURL);
        this.stompClient = Stomp.over(socket);
        console.log(`소켓 연결을 시도합니다. 서버 주소: ${serverURL}`)
        this.stompClient.connect(
            {},
            frame => {
            // 소켓 연결 성공
            this.connected = true;
            this.connectStuts="대화 종료"
            console.log('소켓 연결 성공', frame);
            // 서버의 메시지 전송 endxpoint를 구독합니다.
            // 이런형태를 pub sub 구조라고 합니다.
            this.stompClient.subscribe("/webMark/sendMarkdown/"+this.roomId, res => {
                console.log('webMark 구독으로 받은 메시지 입니다.', res.body);
                this.code = JSON.parse(res.body).content;

                var codeBox = document.getElementsByClassName("htmlParse");
                console.log(codeBox);
                codeBox[0].scrollTop=codeBox[0].scrollHeight;
            });
            },
            error => {
            // 소켓 연결 실패
            console.log('소켓 연결 실패', error);
            this.disconnect()
            this.connected = false;
            this.connectStuts="대화 시작"
            }
        );
      },
      connectMarkdown(id){
          this.roomId = id;
          console.log(id+" markdown");
          this.connectMarkdownSocket(id);
      },
      onEditorChange(content){
        if (this.stompClient && this.stompClient.connected) {
            var content = this.$refs.markdownEditText.invoke("getHTML");
            console.log(content);
            const msg={
            userName: this.userName,
            content: content,
            joinRoom:this.roomId,
            isJoin:false,
            isExit:false,
            msgDate:'2020'
            }
            this.stompClient.send("/webMark/receiveMarkdown/"+this.roomId, JSON.stringify(msg), {});
        }


      },
      selectQuestionRadio(){
        console.log(this.clickTag);
        this.clickTag=[];
        console.log("tag 초기화");
        this.$axios.get('http://61.77.247.76:8080/question/labelList')
            .then(data=>{
                for(var i =0;i<data.data.length;i++){
                    this.clickTag.push(data.data[i]);
                }
            });

        console.log(this.clickTag);
      },
      selectAnswerRadio(){
        console.log(this.clickTag);
        this.clickTag=[];
        console.log("tag 초기화");
        this.$axios.get('http://61.77.247.76:8080/answer/labelList')
            .then(data=>{
                for(var i =0;i<data.data.length;i++){
                    this.clickTag.push(data.data[i]);
                }
            });

        console.log(this.clickTag);
      },
      insertTagToInput(tag){
        console.log("상위 컴포넌트 : "+tag);
        
      },
      checkChatName(){
          console.log(this.userNameText);
      },
      changedTags(tags){
          console.log('상위');
          console.log(tags);
          this.tags=tags;
      },
      clickTagByLink(tag){
        console.log("상위 컴포넌트 : "+tag);
        this.selectedTag = tag;
      }
  },
  props:[
      "userName"
  ],
  created(){
      console.log("userName: "+this.userName);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#flex{
    display:flex;
    justify-content:center;
    margin:10px
}
.chatArea{
    width:48vw;
    height:64vh;

    
    
}
.codeBlockArea{
    width:48vw;
    height:50vh;

    margin:1%;
}

#radioGroup{
    display:flex;
    width:15vw;
    margin:1vw;
}

.radioBtn{
    width:5vw;
    max-height:3.4vw;
    font-size: 1.3vw;
}

.htmlParse{
    height:38vh;
    overflow:auto;
}

#sendMarkDownBtn{
    width:48vw;
}

input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    display:none;
}
</style>
