<template>
    <div
        id="tagNav" 
    >
        <b-nav small>
            <div v-for="(item,index) in items">
                <b-nav-item v-if="item.size!==0" @click="linkClick(item.tag)"> {{item.tag}}({{item.size}}) </b-nav-item>
            </div>
        </b-nav>
    </div>
</template>

<script>

export default {
    data(){
        return{
            items:[]
        }
    },
    props:[
        "who"
    ],
    created(){
        this.getAnswerTags();

    },
    mounted(){
        setInterval(this.getAnswerTags,1000);
    },
    methods:{
        linkClick(tag){
            console.log("clickLink :"+tag);
            this.$emit('clickTagByLink',tag);
        },
        getAnswerTags(){
            if (this.who == "answer"){
                this.items=[]
                this.$axios.get('http://61.77.247.76:8080/question/labelList')
                .then(data=>{
                    for(var i =0;i<data.data.length;i++){
                        this.items.push(data.data[i]);
                    }
                });
            }else{
                this.items=[]
                this.$axios.get('http://61.77.247.76:8080/answer/labelList')
                .then(data=>{
                    for(var i =0;i<data.data.length;i++){
                        this.items.push(data.data[i]);
                    }
                });
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#tagNav{
    align-content:center;
    border:solid;
    border-width:thin;
    height:9vh;
    overflow:auto;
}
</style>
