<template>
  <div>
    <vue-tags-input
    class="tagInput"
      v-model="tag"
      :tags="tags"
      @tags-changed="newTags"
    />
  </div>
</template>

<script>
import VueTagsInput from '@johmun/vue-tags-input';

export default {
  components: {
    VueTagsInput,
  },
  data() {
    return {
      tag: '',
      tags: [],
    };
  },
  methods:{
      newTags(tag){
        this.tags=tag;
        this.$emit('returnTags',this.tags);
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tagInput{
    margin:1vw;
    width:26vw; 
}
</style>
