<template>


  <div id="app">
    <NavBar v-on:changedUserName="bindUserName"></NavBar>
    <router-view v-bind:userName="userName"></router-view>
  </div>
</template>

<script>

import NavBar from '@/components/basicComponents/NavBar.vue'
export default {
  name: 'App',
  components:{
    NavBar
  },
  data(){
    return{
      userName:""
    }
  },
  methods:{
    bindUserName(value)
    {
      this.userName = value;
      
    }
  }
  
}
</script>