<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand class="navTitle" href="#">LIVE Random Talk</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#" router-link to ="/chat">Talk</b-nav-item>
                    <b-nav-item href="#" router-link to ="/sec">Live Post List</b-nav-item>
                </b-navbar-nav>

            </b-collapse>
            <b-navbar-nav class="ml-auto" center>
                <b-nav-form>
                    <b-row>
                        <b-col>
                            <b-form-input
                            v-model="userName" 
                            placeholder="Enter your name"
                            
                            ></b-form-input>
                        </b-col>
                        <b-col>
                            <b-button @click="checkUserName">CheckName</b-button>
                        </b-col>
                    </b-row>
                </b-nav-form>
            </b-navbar-nav>
        </b-navbar>
    </div>
</template>

<script>
export default {
    data(){
        return{
            userName:""
        }
    },
    mounted(){
        this.$axios.get('http://61.77.247.76:8080/anonymousUser')
            .then(data=>{
                console.log(data);
                this.userName="anonymous"+data.data.annUserId;
                this.checkUserName();
            });
    },
    methods:{
        checkUserName(){
            this.$emit('changedUserName',this.userName);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navTitle{
    margin-left:2vw;
}
.ml-auto{
    
}
</style>
